body {
    background: lightgray;
    margin:0px
}
.wrapper {
    display:flex;
    flex-direction: column;
    }
    .h1 {
        background:white;
        text-align:center;
        overflow:visible
    }
    .fotos {
        display:flex;
        flex-direction:column;
        align-items:center;        
        }
            .uno {
                margin-top:10px;
                background:white;
                width:40%;
                margin-top:50px;
            }
                .uno1 {
                    display:flex;
                    justify-content: space-between;
                    align-items:center;
                    padding:5px
                }
                .uno2 {
                    display:flex;
                }
                    .uno2 img {
                        width: 100%;
                        object-fit:scale-down
                    }
                .uno3 {
                    padding:5px
                }
            .dos {
                margin-top:10px;
                background:white;
                width:40%;
                margin-top:50px
            }


