body {
    background: lightgray;
    margin:0px
}
.wrapper {
    display:flex;
    flex-direction: column;
    }
    .h1 {
        background:white;
        text-align:center;
        overflow:visible
    }
    .fotos {
        display:flex;
        flex-direction:column;
        align-items:center;        
        }
            .uno {
                margin-top:10px;
                background:white;
                width:40%;
                margin-top:50px
            }
                .uno1 {
                    display:flex;
                    justify-content: space-between ;
                    padding:5px
                }
                .uno2 img {
                    object-fit: cover;
	                object-position: top;
                }
            .dos {
                margin-top:10px;
                background:white;
                width:40%;
                margin-top:50px
            }
    p .ordinal {
        text-decoration:red
    }

